catboost~=1.0.5
category-encoders>=2.4.0
feature-engine>=1.2.0
json5>=0.9.6
jsonschema>=3.2.0
matplotlib>=3.5.1
notebook>=6.0.3
numpy>=1.22.3
pandas>=1.4.1
python-dotenv~=0.19.2
psycopg2-binary>=2.9.3
psycopg2-pool>=1.1
scipy>=1.8.0
seaborn>=0.11.2
scikit-learn>=1.0.2
sklearn>=0.0
statsmodels>=0.13.2
xgboost>=1.6.0
